.projects{
    color:#fff;
    background: #111;
}
.projects .title::before{
    background: #fff;
}
/* .projects .title::after{
    background: #111;
    content: "- what I make Awesome -";
    margin-top: 300px;
} */
.project-div{
    box-shadow: 5px 5px 10px aliceblue;
}

.project-card img:hover{
transform: scale(1.07);
    transition: 1s ease-out;
}

